@use 'variables';

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "A M I";
    background-color: blue;
    border-radius: 20%;
}

.container__item {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    color: variables.$blanco;
}

.container__item:nth-child(1) {
    grid-area: A;

}

.container__item:nth-child(2) {
    grid-area: M;
}

.container__item:nth-child(3) {
    grid-area: I;
}

.container__item>ul {
    display: flex;
    flex-direction: column;
    text-align: space-evenly;
    width: 100%;
    justify-content: center;
}

@media (max-width: 760px) {
    .container {
        grid-template-areas: "A"
            "M"
            "I";

    }
}